body {
  background-color: #00b5bf;
  background-image: linear-gradient(to left, #23a9b0, #00b5bf);
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
